<!DOCTYPE html>
<html lang="ja">
    <body id="page-top">

        <div class="jumbotron">
          <div class='index-content text-center'>
                <div class='home-index'>
                    <h1>すき焼き事典</h1>
                    <h2>あなたのすき焼きのレシピや具材を共有しよう</h2>
                </div>
            </div>
        </div>