@import "~bootstrap/scss/bootstrap.scss";
@import './home.scss';

body {
  background-color: #844454;
}

.full-page {
  width: 100vw;
  height: 100vh;
}

.btn-primary {
  background: black; //ボタンの背景色
  color: #c4ac74; //ボタンのテキストの色
}