@import "~bootstrap/scss/bootstrap.scss";
@import './home.scss';

.full-page {
  width: 100vw;
  height: 100vh;

  background: #844454;
}

.btn-primary {
  background: black; //ボタンの背景色
  color: #c4ac74; //ボタンのテキストの色
}